@model IEnumerable<Entities.Models.Comment>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
    else
    {
        @Html.ActionLink("Log in to comment", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @if (User.Identity.GetUserId() == item.UserID)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CommentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.CommentID })
                </td>
            }
        </tr>
    }

</table>
